flask
flask-cors
graphviz
argparse
torch
gunicorn
transformers
huggingface_hub
datasets
numpy
scikit-learn
matplotlib
seaborn
psutil
requests
pillow
opencv-python
accelerate
deepspeed
bitsandbytes
sentencepiece
protobuf